<div class="well">

  <%= link_to user_task.description, user_task, remote: true, method: :delete, data: { confirm: "Are you sure you want to delete #{user_task.description}?" } %>

  <%= link_to fa_icon("pencil"), edit_user_task_path(user_task), remote: true %>

  <div class="pull-right">
    <%= user_task.due.stamp("April 29, 2017") %>
  </div>

</div>