    <div style="background-image: url('https://c2.staticflickr.com/2/1613/26013859361_d60a4397e9_b.jpg'); background-size: cover; background-position: center; height: 750px; background-color: transparent;">

    </div>